<div class="Rtable Rtable--5cols Rtable--collapse">

	<!-- TITLES -->

	<!-- HEAD -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				TITLE
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				TITLE
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				TITLE
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				TITLE
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>
				TITLE
			</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--title">
		<span>
			<img src="/assets/image/"/>
			<a href="{% include url/wiki %}/">
				-
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				-
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
                -
            </p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				-
			</p>
		</span>
    </li>
    <!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				-
			</p>
		</span>
	</li>

</div>