<!--
 This is a tabbed table on mobile view. One column should be built per button in the buttons list.
 All columns must have the same number of cells to remain the same size in desktop mode.
 Each cell requires style="order:n;" to be listed vertically, where 0 is top, and the heighest
 number is the bottom.
-->

<div class="Rtable Rtable--3cols Rtable--collapse js-RtableTabs">

  <!-- BUTTONS -->

  <div class="Tablist" role="tablist">
    <button class="Tab" role="tab" aria-selected="true">Tab Title 1</button>
    <button class="Tab" role="tab" aria-selected="false">Tab Title 2</button>
    <button class="Tab" role="tab" aria-selected="false">Tab Title 3</button>
  </div>

  <!-- col 1 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>TITLE</p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/airut.png"/>
      <p></p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/crystal-shapeshifter.png"/>
      <p>Crystal Shapeshifter</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/dark-beast.png"/>
      <p>Dark Beast</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>
  </div>

  <!-- col 2 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p></p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/elf-warrior.png"/>
      <p>Elf</p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/nechryael.png"/>
      <p>Nechryael</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/celestial-dragon.png"/>
      <p>Celestial Dragon</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>
  </div>

  <!-- col 3 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>Title</p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/elf-warrior.png"/>
      <p>Elf</p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/crystal-shapeshifter.png"/>
      <p>Crystal Shapeshifter</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/dark-beast.png"/>
      <p>Dark Beast</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/image/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>

</div>
