<footer>

  <section class="container">

    <!-- <div class="content">

      <div class="contact">

        <div class="social-links">

          <h3>Join our community outside of Gielinor!</h3>

          <a href="https://discord.gg/2tgwWap" rel="noopener"><img src="/assets/image/icon/social/discord.png" /></a>
          <a href="https://twitter.com/rspocketbook" rel="noopener"><img src="/assets/image/icon/social/twitter.png" /></a>

        </div>

      </div>

    </div> -->

  </section>

  <section class="container">

    <div class="content">

      <div class="flex-container">

        <div class="col three">
          <p>
            <a href="">Contribute</a>
            <span>&#9679;</span>
            <a href="">Terms of Service</a>
            <span>&#9679;</span>
            <a href="">Privacy</a>
          </p>
        </div>

        <div class="col three">
          <p>Copyright © 2020 <a href="https://www.rhysdyson.com" rel="noopener">Rhys Dyson</a>.</p>
        </div>

        <div class="col three">
			    <p></p>
		     </div>

      </div>

    </div>

  </section>

  <section>

    <div class="content">

      <p class="center">
        <a href="" rel="noopener">Animal Crossing</a> ® is a registered trademark of <a href="" rel="noopener">Nintendo</a> © date - 2020.
      </p>

    </div>

  </section>

</footer>

<!-- SCRIPTS -->
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script type='text/javascript' src='assets/js/main.js?scriptbust=1585409682896'></script>

<!-- Stellar Nav -->
<script type="text/javascript">
  jQuery(document).ready(function($) {
    jQuery('.stellarnav').stellarNav({
    theme: 'dark',
    breakpoint: 960,
    position: 'static',
    // phoneBtn: '',
    // locationBtn: ''
    });
  });
</script>