<aside class="sidebar">

	<!-- Section 1 -->

	<section class="container desktop">

		<div class="title">

			<h1>Sidebar</h1>

		</div>

		<div class="content">

			<img src=""/>

			<p>
				This is how the sidebar may appear when filled with content.
			</p>

			<button>Demo Button</button>

		</div>

	</section>

</aside>
