// Flex Init

.flex-container
	display: flex
	flex-direction: column
	justify-content: space-between

	.two
		flex: 1

	.two:last-child
		flex: 2

	// Three Cols

	.three
		width: 100%
		margin-bottom: $content-spacer

	.three:last-child
		margin-bottom: 0px

	@media screen and (min-width: $mobile)

			.three
				width: 32%
				margin-bottom: 0px

	@media screen and (min-width: $mobile-horizontal)
		flex-direction: row

		h2
			margin-top: 0px

		// Two Cols

		.two:nth-of-type(odd)
			margin-right: 10px

		.two:nth-of-type(even)
			margin-left: 10px

// Polaroids (Three part image sequences)

div.polaroid_grid
	display: flex
	flex-direction: column

div.polaroid
	display: inline-block
	//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.polaroid_container img
	min-width: 100%

div.polaroid_container
	text-align: center
	padding: 5px 5px

	.col
		background-image: $texture-dark
		background-color: $secondary

	.col:hover
		box-shadow: $box-shadows

		// Change font colour on hover
		p
			color: $title

	@media screen and (min-width: $mobile)
		flex-direction: row
