footer

	margin: 0 auto
	width: 94%

	color: $white

	.contact
		text-align: center

		.social-links a
			padding: 15px
			display: inline-block

		.social-links img
			width: 50px
			height: 50px
			padding: 10px

			border: 1px solid $white

	.container
		background-image: $texture-light
		margin-bottom: 0px

	.container:nth-child(2)
		background-image: $texture-med

	.content
		text-align: center

nav

.breadcrumbs
	text-align: left

	ul
		list-style: none

		li
			display: inline-block
