/* Tables
================================== */
.Rtable {
	display: flex;
	flex-wrap: wrap;
	color: $white;
	font-size: 0.9em;
}

.Rtable-col {
  flex-direction: column;
}

.Rtable-cell {
	display: flex;
	box-sizing: border-box;
	flex-grow: 1;
	width: 100%;
	padding: 0.8em;
	overflow: hidden;
	list-style: none;
	background-color: $table-bg;
	vertical-align: center;
	text-align: center;
}

/* Alignment
================================== */

.Rtable span { // Centers the cell content
	margin: auto auto;
}

.Rtable span a {
	display: block; // Make links in tables behave like paragraphs
	color: $light-grey;
  	line-height: 1.4;
}

.Rtable span p img {
	max-width: 20px;
	height: auto;
	margin: 0px
}

.Rtable span p a {
	display: inline; // Make links in tables behave like paragraphs
	color: $light-grey;
	line-height: 1.4;
	margin: 0;
}

.Rtable span a:hover {
	color: $title;
}

.cell-container {
	display:flex;
	flex-wrap: nowrap;
	align-items: center;
}

.Rtable img {
	width: 30px;
	vertical-align: middle;
	margin: 8px;
}

.item p, .perk p, .skill p { // Removed the padding on text following an image
	padding: 0px;
	margin: 5px;
}

.skill img { // Rezize the skill icon
	width: 16px;
	height: auto;
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.65%;
}
.Rtable--10cols > .Rtable-cell {
  width: 10%;
}
.Rtable--15cols > .Rtable-cell {
  width: 6.66%;
}

 // Individual cell sizing
 // Practice on the demo here: https://codepen.io/davidelrizzo/pen/gPVbYe
.Rtable-cell.Rtable-cell--1of1  { width: 100%; }
.Rtable-cell.Rtable-cell--5of6  { width: 83.33; }
.Rtable-cell.Rtable-cell--4of5  { width: 80%; }
.Rtable-cell.Rtable-cell--3of4  { width: 75%; }
.Rtable-cell.Rtable-cell--2of3  { width: 66.66%; }
.Rtable-cell.Rtable-cell--3of5  { width: 60%; }
.Rtable-cell.Rtable-cell--1of2  { width: 50%; }
.Rtable-cell.Rtable-cell--2of4  { width: 40%; }
.Rtable-cell.Rtable-cell--1of3  { width: 33.33%; }
.Rtable-cell.Rtable-cell--1of4  { width: 25%; }
.Rtable-cell.Rtable-cell--1of5  { width: 20%; }
.Rtable-cell.Rtable-cell--1of6  { width: 16.66%; }
.Rtable-cell.Rtable-cell--1of10  { width: 10%; }

.Rtable-cell.Rtable-cell--100  { width: 100%; }
.Rtable-cell.Rtable-cell--90   { width: 90%; }
.Rtable-cell.Rtable-cell--83   { width: 83.33; }
.Rtable-cell.Rtable-cell--80   { width: 80%; }
.Rtable-cell.Rtable-cell--75   { width: 75%; }
.Rtable-cell.Rtable-cell--70   { width: 70%; }
.Rtable-cell.Rtable-cell--66   { width: 66.66%; }
.Rtable-cell.Rtable-cell--65   { width: 65%; }
.Rtable-cell.Rtable-cell--60   { width: 60%; }
.Rtable-cell.Rtable-cell--55   { width: 55%; }
.Rtable-cell.Rtable-cell--50   { width: 50%; }
.Rtable-cell.Rtable-cell--45   { width: 45%; }
.Rtable-cell.Rtable-cell--40   { width: 40%; }
.Rtable-cell.Rtable-cell--33   { width: 33.33%; }
.Rtable-cell.Rtable-cell--30   { width: 30%; }
.Rtable-cell.Rtable-cell--25   { width: 25%; }
.Rtable-cell.Rtable-cell--20   { width: 20%; }
.Rtable-cell.Rtable-cell--18 	 {width: 18%;  }
.Rtable-cell.Rtable-cell--16   { width: 16%; }
.Rtable-cell.Rtable-cell--15   { width: 15%; }
.Rtable-cell.Rtable-cell--10   { width: 10%; }

/* Apply styles
================================== */
.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
}

/* Cell styles
================================== */

// Borders
.Rtable-cell {
	border-top: $tableborder;
}
.Rtable {
	border-bottom: $tableborder;
}

// BG Colours
.Rtable-cell--head {
	background-color: $secondary;
}
.Rtable-cell--head p {
	color: $title;
}
.Rtable-cell--item {
	text-align: center;
}
.melee {
	background-color: $melee;
}
.ranged {
	background-color: $ranged;
}
.magic {
	background-color: $magic;
}
.hybrid {
	background-color: $hybrid;
}
.defence {
	background-color: $defence;
}
.constitution {
	background-color: $constitution;
}
.prayer {
	background-color: $prayer;
}

/* Responsive
==================================== */
@media all and (max-width: $mobile) {
  .Rtable--collapse {
    display: block;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
	.Rtable-cell--item {
		border-top: 1px solid $light-grey;
	}
	.Rtable-cell--head, .Rtable-cell--empty {
		display:none;
		visibility: hidden;
	}
	.Rtable-cell--title {
		background-color: $secondary;
	}
	.Rtable-cell--title p {
		color: $title;
	}
}
.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 100%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}

/* Tabbed tables
==================================== */

@media all and (max-width: $mobile) {
  .hiddenSmall {display: none; }
}

.Tablist {
  display: flex;
  flex-direction: row;
  @media all and (min-width: $mobile) { display: none; }
}
.Tab {
	background: $texture-dark;
	color: $light-grey;
  padding: 0.6em 1em;
  text-align: center;
  border-bottom-width: 0;
  border-radius: 0.5em 0.5em 0 0;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0s;
  cursor: pointer;
  &[aria-selected="false"]:active {
    margin-top: 0.2em;
    padding-bottom: 0.4em;
  }
	&[aria-selected="false"]:hover {
    background: $secondary;
		color: #fff;
		transition: background-color 0s;
  }
  &[aria-selected="true"] {
    background: $table-bg;
		color: $title;
    cursor: default;
  }
}
