<!doctype html>
<html lang="en">

	<head>

		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116927953-2"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-116927953-2');
		</script>

		<!-- Site Info -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}"/>
		<meta name="keywords" content="runescape, pocketbook, rspocketbook, game guide, pvm, slayer, skills, invention"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel='icon' href='https://rspocketbook.com/assets/image/favicon.ico' type='image/x-icon'/>

		<!-- CSS -->
		<link rel="stylesheet" href="assets/main.css?stylebust=1585409682896"/>
		<link rel="stylesheet" href="https://use.typekit.net/xcy0sgw.css">

	</head>

	<body>

		<!-- HEAD -->

		<header>

			{% include menu/primary.html %}
		
		</header>
		
		<div class="heroImg">
		
			<div class="logo">
				<img class="logo" src="assets/image/logo.png"/>
			</div>
		
		</div>
		

		<!-- BODY -->

		<div class="page">

			<section class="body">
		
				<article class="container">
		
					<div class="title">
		
						<h1>{{ page.title }}</h1>
		
					</div>
		
					<div class="content">
		
						{{ content }}
		
					</div>
		
				</article>
		
			</section>
		
			<!-- Sidebar -->
		
			{% include sidebar.html %}
		
		</div>

		{% include footer.html %}

	</body>
	
</html>
